# Retrieved 2017-Oct-12 from https://github.com/github/gitignore/blob/master/R.gitignore
# Licensed under CC0-1.0 https://github.com/github/gitignore/blob/master/LICENSE

doc
Meta
.Rproj.user
src/*.o
src/*.so
src/*.dll
/doc/
/Meta/
